.l
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body
{
   display: flex; 
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: hsl(199, 98%, 48%);
    transition: 0.5s;
}

body.active 
{
   background: rgb(241, 52, 52); 
  

}



.container
{
    position: relative;
    width: 800px;
    height: 500px; 
    margin: 20px;
   
}
.blue
{
    position: absolute;
    top: 40px;
  
    width: 100%;
    display: flex;
    align-items: center;
    height: 420px;
    background: rgb(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0 , 0, 0, 0.15);
    
}

.blue .box
{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.blue .box h2
{
    color: rgb(247, 240, 231);
    font-size: 1.35em;
    font-weight: 500;
    
}

.blue .box button
{
    cursor: pointer;
    padding: 10px 20px ;
    background: white;
    color: rgb(29, 26, 26);
    font-size: 16px;
    font-weight: 500;
    border: none;

}

.formBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0 , 0, 0, 0.25);
    transition: 0.5s ease-in-out;
   overflow: hidden;
  
   
}

.formBx.active
{
  left: 50%;
}

.formBx.form
{
   position: absolute; 
   left:0;
   padding: 50px;
   width: 100%;
   transition: 0.5s ;
  
    

}
 

.formBx.active .signinForm
{
   margin-left:-50%;
   transition-delay: 0s;
  
}
.formBx .signinForm
{
 transition-delay: 0.25s;
}

.formBx .form form
{
  width: 100%;
  left: 0;
 display: flex;
 flex-direction:column;
}

.formBx .form form h3
{
    font-size: 1.8em; 
    color: rgb(33, 40, 33);
    margin-bottom: 20px;
    font-weight: 500; 
}

.formBx .form form input
{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid rgb(33, 30, 30);
     
}

.formBx .form form input[type="submit"]
{
   background:rgb(70, 162, 243); 
   border: none;
   color: azure;
   max-width: 100px; 
   cursor: pointer;  
}

.formBx .form form .forgot
{
      color: rgb(43, 43, 49) ;
} 